<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <!--<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">--> 

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Eric Weber" %></title>

    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :curtiss %>
    <%= javascript_include_tag :curtiss %>
    <%= javascript_include_tag "javascripts/dragscroll-0.0.6/dragscroll.js" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
